.discount-call{
	margin-top: 50px;
	position: relative;
	.discount-section-bottom{
		margin-bottom: 50px;
	}
	img{
		position: absolute;
		left: 0%;
		bottom: -10%;
		 -webkit-filter: drop-shadow(5px 5px 5px #222);
  		filter: drop-shadow(0px 15px 5px #222);
	}
	p{
		font-size: 1.325em;
		color: $terciary-green;
		font-family: "Lato", sans-serif;
		font-weight: 200;
		margin-bottom: 0px;
	}
	.text-discount{
		margin-bottom: 20px;
		p{
			font-size: 1.125em;
			color: $light-gray;
		}
		h3{
			font-size: 60px;
			font-family: "Lato", sans-serif;
			font-weight: 600;
			color: $secondary-green;
		}
		h2{
			font-size: 120px;
			font-family: "Lato", sans-serif;
			font-weight: 600;
			color: $secondary-green;
		}
	}
}

@media (max-width: 1050px) {
	.discount-call{
		img{
			position: absolute;
			left: -10%;
			bottom: 0%;
			 -webkit-filter: drop-shadow(5px 5px 5px #222);
	  		filter: drop-shadow(0px 15px 5px #222);
		}
	}	
}

@media (max-width: 900px) {
	.discount-call{
		img{
			position: absolute;
			left: -25%;
			bottom: 5%;
			 -webkit-filter: drop-shadow(5px 5px 5px #222);
	  		filter: drop-shadow(0px 15px 5px #222);
		}
	}	
}

@media (max-width: 725px) {
	.discount-call{
		img{
			position: absolute;
			left: -35%;
			bottom: 5%;
			 -webkit-filter: drop-shadow(5px 5px 5px #222);
	  		filter: drop-shadow(0px 15px 5px #222);
		}
	}	
}


@media(max-width: 370px) {
	.discount-call {
		.text-discount{
			h3{
				font-size: 40px;
				font-family: "Lato", sans-serif;
				font-weight: 600;
				color: $secondary-green;
			}
			h2{
				font-size: 80px;
				font-family: "Lato", sans-serif;
				font-weight: 600;
				color: $secondary-green;
			}
		}
	}
}