.characteristics-wrapper{
	padding-top: 80px;
	padding-bottom: 80px;
	background: $dark-blue;
	width: 100%;
	top: 0px;
	color: white;
	font-family: "Lato";
	i{
		font-size: 3em;
		margin-bottom: 15px;
	}
	p{
		font-size: 0.685em;
		letter-spacing: .12em;
		font-weight: 300;
	}
	h5{
		font-size: 0.725em;
		font-weight: 300;
		letter-spacing: .4em;
	}
}

@media (max-width: 600px) {
	.characteristics-wrapper{
		padding-top: 20px;
		padding-bottom: 20px;

		i{
			margin-bottom: 20px;
		}
	}
}