@font-face {
  font-family: 'lato';
  src:  url('../assets/fonts/lato-regular-webfont.woff2') format('woff2'),
        url('../assets/fonts/lato-regular-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src:  url('../assets/fonts/lato-light-webfont.woff2') format('woff2'),
        url('../assets/fonts/lato-light-webfont.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}


@font-face {
  font-family: 'Lato';
  src:  url('../assets/fonts/Lato-HairlineItalic.woff2') format('woff2'),
        url('../assets/fonts/Lato-HairlineItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src:  url('../assets/fonts/lato-bold-webfont.woff2') format('woff2'),
        url('../assets/fonts/lato-bold-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src:  url('../assets/fonts/lato-black-webfont.woff2') format('woff2'),
        url('../assets/fonts/lato-black-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}


// ITALIC FONTS

@font-face {
  font-family: 'Lato';
  src:  url('../assets/fonts/lato-italic-webfont.woff2') format('woff2'),
        url('../assets/fonts/lato-italic-webfont.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src:  url('../assets/fonts/lato-lightitalic-webfont.woff2') format('woff2'),
        url('../assets/fonts/lato-lightitalic-webfont.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}